{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
